# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/fort

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Log
*.log

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Eclipse
.cproject
.project
.settings/
Debug/

# Autotools
*.in
*.m4
.deps
.dirstamp
Makefile
autom4te.cache
compile
config.status
configure
depcomp
install-sh
missing
src/configure_ac.h
src/stamp-h1
config.guess
config.sub

# Packaging
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.asc

# Check Framework
*.test
*.trs
test-driver

# Developer playground
sandbox/

# Temporal files
*~
tmp
docs/_site
docs/.jekyll-metadata

# OS noise
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
