/** {
	font-size: 1rem;
}*/

body {
	margin-bottom: 80px;
}

.site-footer {
	height: 80px;
	padding: 20px 0; }


blockquote {
	background-color: #b1b3b7;
	margin: 0 1.5em 1.5em 1.5em;
}

code, code span {
	color: white;
	font-family: monospace;
	font-size: inherit;
	background-color: unset;
}

pre code{
	color: white;
	background-color: black;
	font-size: 1rem;
}
pre code.terminal {
	color: white;
}

.language-bash > .nb {
	color: white;
}

p img {
	background-color: #b1b3b7;
}

.site-footer a img {
	margin: auto;
	max-height: 40px;
}


h2{
	margin-top: 2.5rem;
}
h3{
	margin-top: 2.5rem;
}
h4{
	margin-top: 1.5rem;
}
p{
	margin-bottom: 0.5rem;
}

td, th {
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #b1b3b7;
	border-image: initial;
	padding: 0.5rem;
}

pre code a{
	color: #00bfFF;
}

figure {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 1.5em;
	margin-inline-end: 1.5em;
}

