blockquote {
	padding: 1em;
	border-radius: 3px;
	border: 1px solid #ddd;
	color: #404040;
	background-color: #f0f6ff;
	margin-left: 3em;
	margin-right: 3em;
}

code {
	background-color: #f8f8f8;
}
pre code {
	display: block;
	overflow: auto;
	padding: 1em;
}
pre code.terminal {
	color: lightgray;
	background-color: black;
}

.language-bash > .c {
	color: green;
}
.language-bash > .nt {
	color: purple;
}
.language-bash > .s2 {
	color: blue;
}
