Source: fort
Maintainer: Alberto Leiva Popper <ydahhrk@gmail.com>
Section: net
Priority: optional
Build-Depends: debhelper-compat (= 11),
 debhelper (>= 11),
 pkg-config,
 libcurl4-openssl-dev,
 libjansson-dev,
 libssl-dev,
 libxml2-dev,
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://nicmx.github.io/FORT-validator
Vcs-Git: https://github.com/NICMx/FORT-validator.git -b debian
Vcs-Browser: https://github.com/NICMx/FORT-validator

Package: fort
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, rsync,
 libcurl4, libxml2,
Description: RPKI Relying Party and RTR server
 Regularly downloads and validates RPKI repositories. Serves resulting
 Route Origin Attestations (ROAs) and BGPsec Router Keys to routers.
 .
 A ROA is a digitally signed object that asserts that an AS is
 authorized to originate routes to a given set of IP prefixes, and
 similarly, a Router Key asserts that every AS on a given AS path has
 explicitly authorized the advertisement of a route to the subsequent AS
 in the path.

