#!/usr/bin/make -f

# See debhelper(7)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

D := $(CURDIR)/debian/fort

%:
	dh $@

execute_after_dh_install:
	printf 'Signature: 8a477f597d28d172789f06886806bc55' > $D/var/lib/fort/CACHEDIR.TAG

override_dh_installsystemd:
	dh_installsystemd --name fort

